@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-blue:#1E5AA8;
  --color-blue20:rgba(30, 90, 168, 0.202);
  --color-green:#25D366;
  --color-violet:#8A1C5A;
  --color-violet5:#8a1c5a0e;
  --color-violet50:rgba(138, 28, 90, 0.504);
  --color-gray:#333333;
  --font-base:var(--font-inter);
  --font-header:var(--font-syne);
  
}
@layer utilities {
  .font-syne {
    font-family: var(--font-syne);
  }

  .font-inter {
    font-family: var(--font-inter);
  }
}
@layer components{
  .btn{
    @apply bg-violet text-[16px] text-nowrap rounded-2xl p-3 transform hover:scale-105 transition-transform duration-300 text-white font-medium text-[14px] leading-4
  }
  .text{
    @apply text-[14px] font-normal leading-5 font-base
  }
  .btn-devis{
     @apply bg-blue text-[16px] text-nowrap rounded-2xl px-4 py-2 transform hover:scale-105 transition-transform duration-300 text-white font-medium  text-[14px] leading-4
  }
  .input{
    @apply rounded-2xl px-4 py-1 bg-blue-500/20 w-full outline-none
  }
  .input1{
    @apply rounded-2xl px-4 py-1 bg-white w-full outline-none shadow border border-blue
  }

}
.swiper-wrapper {
  transition-timing-function: linear ;
}
@layer base {

  html {
    font-family: var(--font-inter);
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body{
    overflow-y: scroll;
  }
  body::-webkit-scrollbar{
    display: none;
  }
  h1{
    @apply font-header md:text-5xl text-2xl font-extrabold leading-12 
  }
   h2{
    @apply font-header md:text-3xl text-[20px] font-extrabold leading-12 
  }
   h3{
    @apply font-header  text-[14px]  font-extrabold leading-5 tracking-widest
  }
    h4{
    @apply font-header  text-[14px]  font-semibold leading-5 tracking-widest
  }
   p,ul{
    @apply text-[14px] font-normal leading-7 font-base
  }

  
}